node_modules

/react-client/dist/gallerybundle.js

package-lock.json

upScale_Gallery_Database.pem

*.pem

config.prod.js

config.js

webpack.config.js

db/products.csv

db/smalltest.csv

*.csv

newrelic.js

*.log

.babelrc

notes.txt